body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 22px; /* El tama침o de la fuente principal en el tag <p></p> */
    background-color: #bed8d2; /* El color del fondo de la p치gina web */
    color: #333333; /* El color del texto*/ 
}
h1 {
    color: #2a08ecdc; /* El color de la cabecera */
    font-size: 24px; /* El tama침o de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipogr치fica utilizada en la cabecera */
}